/* create styles for past, present, and future time blocks */
.top {
  background-color: #96ceb4;
  margin-bottom: 10px;
  font-family: cursive;
  color: white;
}
.heading {
  display: flex;
  justify-content: center;
}
label {
  font-family: cursive;
}
.btn-primary {
  background-color: #96ceb4;
  border: none;
}

.btn-primary:hover {
  background-color: white;
  color: #96ceb4;
  border: 2px solid;
  border-color: #96ceb4;
}

.future {
  background-color: #588c7e;
}
.past {
  background-color: #d96459;
}

.present {
  background-color: #f2e394;
}
